<?xml version="1.0"?>
<model>
  <name>tag_620_669</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Abraham Dionne</name>
    <email>abdionne@wpi.edu</email>
  </author>
  <description>AprilTag 611_840 for UCF arena simulation</description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>
